*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

main{
/*        position: relative;*/
   height: 100%;
    width: 40%;
    margin: auto; 
}



#stories-container{

    height: 100%;
    width: 100%;
    
    overflow: auto;
}

button{
    position: fixed;
    top:3%;
    left: 32%;
    height: 20px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    visibility:hidden;
    font-size: 24px;
    color:#fff;
    background: none;
    border: none;
    cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#stories-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#stories-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#stories-filter{
    background: yellow;
    height: inherit;
    width: 200%;
    
/*    padding: 10px;*/
    
    display: flex;
    align-items: center;
}

.main-story{
    position: relative;
    height: 90px;
    width: 90px;
    
    margin: 10px;
    
    border: 5px solid purple;
    border-radius: 50%;
    
    overflow: hidden;
    
    
    cursor: pointer;
}

.floating-story{
    position: absolute;
    top:50%;
    left:0%;
    transform: translate(0%,-60%);
    
    height: 90px;
    width: 90px;
    
    margin: 10px;
    
    border-radius: 50%;
    
    overflow: hidden;
    transition: all 0.4s ease-in-out;
/*    visibility: hidden;*/
    pointer-events: none;
}

.floating-story2{
    position: absolute;
    top:0%;
/*    left: 50%;*/
/*    transform: translate(-50%,-60%);*/
    
    height: 100%;
    width: 100%;
    
/*    margin: 10px;*/
    
    border-radius: 50%;
    
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    pointer-events: none;
    object-fit: cover;
}

/*.expand*/
.floating-story.expand{
/*    position: sticky;*/
    top:0;
    left:0;
    transform: translateY(0%);
    
    height: 100%;
/*    width:100%;*/
    width: 40%;
    
    margin: 0px auto;
    
    border:none;
    border-radius: 0%;
    visibility: visible;
     z-index: 4;
}

.floating-story2.expand{
/*    position: fixed;*/
    top:0;
    left:0%;
    transform: translateY(0%);
    
    height: 100%;
/*    width:100%;*/
    width: 40%;
    
    margin: 0px auto;
    
    border:none;
    border-radius: 0%;
    visibility: visible;
    z-index: 4;
}

.main-story img,
.floating-story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}